* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.homePage {
    margin-left: 100px;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.jsonCard{
    margin-bottom: 500px;
    z-index: 1;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 300px;
    top: 120px;
    max-height: auto;
    min-width: 500px;
    width:500px;
    padding: 15px;
  }
  
.landingCard{
    margin-bottom: 500px;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 300px;
    top: 120px;
    max-height: auto;
    min-width: 250px;
    width:auto;
    padding: 15px;
  }


::-webkit-scrollbar
{
    
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


nav {
    display: flex;
    height: 65px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 60px;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.marg {
    font-size: 20px;
    margin-top:15px;
}

.error {
    margin-top: 10px;
}